<!--include header and nav bar from templates -->
<% var title = "Big Data"; %>
<%- include partial_header.ejs %>

<!--your page content here-->
<h3>Bid Data Page</h3>

<!--include footer from templates -->
<% var jspath = ""; %>
<%- include partial_footer.ejs %>