 <!--include header and nav bar from templates -->
    <% var title = "Big Data"; %>
    <%- include partial_header.ejs %>

        <!--your page content here-->
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2 rd-pt-100">
                    <button class="btn btn-block btn-info" data-toggle="modal" data-target="#brochure-modal">
                        Brochure
                    </button>
                    <button class="btn btn-block btn-info" data-toggle="modal" data-target="#whitepaper-modal">
                        White Paper
                    </button>
                </div>
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-xs-12">
                            <h3>About Big Data</h3>
                            <p>
                                Big data is a broad term for data sets so large or complex that traditional data processing applications are inadequate. Challenges include analysis, capture, curation, search, sharing, storage, transfer, visualization, and information privacy. The term often refers simply to the use of predictive analytics or other certain advanced methods to extract value from data, and seldom to a particular size of data set.

                            </p>
                            <p>
                                Analysis of data sets can find new correlations, to "spot business trends, prevent diseases, combat crime and so on." Scientists, practitioners of media and advertising and governments alike regularly meet difficulties with large data sets in areas including Internet search, finance and business informatics. Scientists encounter limitations in e-Science work, including meteorology, genomics, connectomics, complex physics simulations, and biological and environmental research.
                            </p>
                            <p>
                                Source: <a href="http://en.wikipedia.org/wiki/Big_data">Wikipedia</a>
                            </p>
                        </div>
                    <div class="col-md-offset-3 col-md-6">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe  width="560" height="315" class="embed-responsive-item" src="https://www.youtube.com/embed/CNoi-XqwJnA"></iframe>
                        </div>
                    </div>

                    </div>
                </div>
                <div class="col-md-2 rd-pt-20" >
                    <h4>Customer Accolade</h4>
                    <blockquote class="blockquote">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodtempor incididunt ut labore et dolore magna aliqua.</p>
                        <footer><cite title="john-doe">John Doe</cite></footer>
                    </blockquote>
                    <blockquote class="blockquote">
                        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat.</p>
                        <footer><cite title="mike-smith">Mike Smith</cite></footer>
                    </blockquote>
                </div>
            </div>

        </div>

        <div class="modal fade" id="whitepaper-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Big Data Whitepaper</h4>
              </div>
              <div class="modal-body">
                    <form id="get-whitepaper-form" action="/bigdata/get-whitepaper" method="get" class="form">
                        <div class="form-group">
                            <label for="firstname">First Name</label>
                            <input required type="text" class="form-control input-sm" name="fname">
                        </div>
                        <div class="form-group">
                            <label for="lastname">Last Name</label>
                            <input required type="text" class="form-control input-sm" name="lname">
                        </div>    
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input required type="email" class="form-control input-sm" name="email">
                        </div>                        
                        </div>                        
                    </form>
              </div>
              <div class="modal-footer">
                <button type="button" id="get-whitepaper-btn" class="btn btn-primary">Download</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>    

        <div class="modal fade" id="brochure-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Big Data Brochure</h4>
              </div>
              <div class="modal-body">
                    <form id="get-brochure-form" action="/bigdata/get-brochure" method="get" class="form">
                        <div class="form-group">
                            <label for="firstname">First Name</label>
                            <input required type="text" class="form-control input-sm" name="fname">
                        </div>
                        <div class="form-group">
                            <label for="lastname">Last Name</label>
                            <input required type="text" class="form-control input-sm" name="lname">
                        </div>    
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input required type="email" class="form-control input-sm" name="email">
                        </div>                        
                        </div>                        
                    </form>
              </div>
              <div class="modal-footer">
                <button type="button" id="get-brochure-btn" class="btn btn-primary">Download</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

    <!--include footer from templates -->
    <% var jspath = "/js/big-data.js"; %>
    <%- include partial_footer.ejs %>
