<!--include header and nav bar from templates -->
<% var title = "Code of Conduct"; %>
<% include partial_header.ejs %>

<!--your page content here-->
<div class="container">
    <h3>Code of Conduct</h3>
    <p>
        Our codes go here.
    </p>
</div>

<!--include footer from templates -->
<% var jspath = ""; %>
<% include partial_footer.ejs %>