<!--include header and nav bar from templates -->
<% var title = "IoT and IoE"; %>
<%- include partial_header.ejs %>

    <!--your page content here-->
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h3>About IoT &amp; IoE</h3>
                <p>
                    <!--add content about iot & ioe here-->
                </p>
            </div>
        </div>
    </div>

<!--include footer from templates -->
<% var jspath = ""; %>
<%- include partial_footer.ejs %>