<!--include header and nav bar from templates -->
<% var title = "IoT"; %>
<%- include partial_header.ejs %>

<!--your page content here-->
<div class="container">
    <h3>IoT Page</h3>

</div>


<!--include footer from templates -->
<% var jspath = ""; %>
<%- include partial_footer.ejs %>