<!--include header and nav bar from templates -->
<% var title = "Locations"; %>
<%- include partial_header.ejs %>

<!--your page content here-->
<h3>Locations Page</h3>

<!--include footer from templates -->
<% var jspath = ""; %>
<%- include partial_footer.ejs %>