<!--include header and nav bar from templates -->
<% var title = "Management"; %>
<% include partial_header.ejs %>

    <!--your page content here-->
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h3>Management</h3>
                <p>
                    We are a group of graduate students studying Software Engineering at San Jose State University with interests
                    in web development, big data, and cloud technology. We believe in keeping up with the latest technologies
                    and constant learning to keep with the newest web technologies in the industry. Our group is proud to have
                    members who are or will be interning with renown companies such as LinkedIn, IBM, and First Data Corporation.
                </p>
            </div>
        </div>

        <div class="row">
            <div id="news" class="col-xs-12 col-sm-3">
                <div class="row header">
                    <h4 class="text-center">Featured News</h4>
                </div>
                <div class="row content">
                    <h5><b>Roost Smart Battery – Alarm notifications delivered to you</b></h5>
                    <p>
                        Our retrofit approach to the Smart, Connected Home is different. It’s affordable – you don’t need
                        to buy expensive new devices. In fact, you just use your existing smoke or carbon monoxide
                        detector. It’s simple to install. No hubs, no wires and no need to hire an outside contractor.
                        With one smart battery and an app, Roost delivers peace of mind.
                        <br>
                        <a href="http://www.iotnewsnetwork.com/connected-home/roost-smart-battery-alarm-notifications-delivered-to-you/"
                           target="_blank">
                            <i class="text-center">More here &gt;&gt;</i>
                        </a>
                    </p>
                </div>
            </div>

            <div id="executive" class="col-xs-12 col-sm-offset-1 col-sm-8">
                <div class="row header">
                    <h4 class="text-center">Executive Team</h4>
                </div>
                <div class="row content">
                    <div class="col-sm-4">
                        <div class="thumbnail">
                            <a data-toggle="modal" data-target="#xjModal">
                                <img src="img/xj.jpg" alt="mobile-icon" height="200" width="200">
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="thumbnail">
                            <a data-toggle="modal" data-target="#jwModal">
                                <img src="img/jw.jpg" alt="bigdata-icon" height="200" width="200">
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="thumbnail">
                            <a data-toggle="modal" data-target="#yyModal">
                                <img src="img/yy.jpg" alt="iot-icon" height="200" width="200">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Modals-->
        <div class="row">
            <div class="modal fade" id="xjModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h3 class="modal-title text-center" id="myModalLabel">Xiaoli Jiang</h3>
                        </div>
                        <div class="modal-body">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-6">
                                        <img src="img/xj.jpg" alt="xiaoli-pic" height="200" width="200">
                                    </div>
                                    <div class="col-xs-12 col-sm-6">
                                        <h4>CEO</h4>
                                        <p>
                                            <a href="http://www.linkedin.com/in/jiangxiaoli/en" target="_blank">
                                                <img src="img/linkedin-icon.png" alt="linkedin-icon"
                                                     height="30" width="30">
                                            </a>
                                        </p>
                                        <p>
                                            Xiaoli is the CEO for this project, with expertise in frontend technologies
                                            including jQuery, NodeJS, BackboneJS, AngularJS, and Ajax. She is
                                            also well-versed in SQL and cloud technologies including OpenShift, Heroku,
                                            and AWS. She focused on environment setup using Heroku, NodeJS, MySQL,
                                            and Express, and development of the Locations page using the Google Maps API.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="jwModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h3 class="modal-title text-center" id="myModalLabel">Jennifer Wu</h3>
                        </div>
                        <div class="modal-body">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-6">
                                        <img src="img/jw.jpg" alt="jennifer-pic" height="200" width="200">
                                    </div>
                                    <div class="col-xs-12 col-sm-6">
                                        <h4>COO</h4>
                                        <p>
                                            <a href="http://www.linkedin.com/in/jennjwu/en" target="_blank">
                                                <img src="img/linkedin-icon.png" alt="linkedin-icon"
                                                     height="30" width="30">
                                            </a>
                                        </p>
                                        <p>
                                            Jennifer is the COO for this project, with expertise in technical writing,
                                            HTML, CSS, JavaScript and jQuery. She has also worked with the Laravel PHP
                                            framework, MySQL, and MongoDB. She focused on development of the
                                            landing page and the management page.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="yyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h3 class="modal-title text-center" id="myModalLabel">Yulin Ye</h3>
                        </div>
                        <div class="modal-body">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-6">
                                        <img src="img/yy.jpg" alt="yulin-pic" height="200" width="200">
                                    </div>
                                    <div class="col-xs-12 col-sm-6">
                                        <h4>CTO</h4>
                                        <p>
                                            <a href="http://www.linkedin.com/in/yulinye/en" target="_blank">
                                                <img src="img/linkedin-icon.png" alt="linkedin-icon"
                                                     height="30" width="30">
                                            </a>
                                        </p>
                                        <p>
                                            Yulin is the CTO for this project, with expertise in JavaScript, AngularJS,
                                            Ruby on Rails, NodeJS, and Python. He has also worked extensively with big data
                                            and data visualization technology. He focused on development of the Big Data
                                            and IoT/IoE pages for this project.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End Modals-->
    </div>


<!--include footer from templates -->
<% var jspath = ""; %>
<% include partial_footer.ejs %>