<!--include header and nav bar from templates -->
<% var title = "Mobile"; %>
<%- include partial_header.ejs %>

<!--your page content here-->
<div class="container">
    <h3>About Mobile</h3>
    <p>
        A handheld computing device has an operating system (OS), and can run various types of application software,
        known as apps. Most handheld devices can also be equipped with Wi-Fi, Bluetooth, NFC and GPS capabilities
        that can allow connections to the Internet and other devices, such as an automobile or a microphone headset
        or can be used to provide Location-based services. A camera or media player feature for video or music files
        can also be typically found on these devices along with a stable battery power source such as a lithium battery.
        Increasingly mobile devices also contain sensors like accelerometers, compasses, magnetometers, and/or
        gyroscopes, allowing detection of orientation and motion.
    </p>
    <p>
        Early pocket-sized devices were joined in the late 2000s by larger but otherwise similar tablet computers.
        Input and output of modern mobile devices are often combined into a touch-screen interface. Smartphones and
        PDAs are popular amongst those who wish to use some of the powers of a conventional computer in
        environments where carrying one would not be practical. Enterprise digital assistants can further extend
        the available functionality for the business user by offering integrated data capture devices like barcode,
        RFID and smart card readers.
    </p>
    <p>
        Source: <a href="http://en.wikipedia.org/wiki/Mobile_device">Wikipedia</a>
    </p>

</div>

<!--include footer from templates -->
<% var jspath = ""; %>
<%- include partial_footer.ejs %>