/* CSS file for Team Assignment
 * Xiaoli Jiang
 * Jennifer Wu
 * Yulin Ye
 *
 */

/*general styling*/
.navbar {
    margin: 0 auto;
}

footer {
    align-content: center;
    padding-top: 19px;
    margin-top: 50px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.text-center {
    display: block;
    margin: 1% auto;
}

/*carousel styling*/
.carousel {
    margin: 0 auto;
    height: 400px;
    overflow: hidden;
}

.carousel-caption {
    top: 5px;
    text-shadow: 2px 2px 9px black;
}

/*modal styling*/
.modal-dialog {
    margin-top: 20%;
}

/*mgmt page*/
div.row.header{
    background: #2c3150;
    color: white;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    height: 45px;
}

div#news, div#executive {
    border: 2px solid #2c3150;
    border-radius: 15px;
}

div#news div.row.content{
    padding: 15px;
}

/*locations page*/
#map1,
#map2 {
    height: 400px;
    margin: 10px;
    padding: 0px
}


.site {
    color: #18bc9c
}